// Dracula colors
// Base Colors
drac-background = #282a36
drac-current-line = #44475a
drac-selection = #44475a
drac-foreground = #f8f8f2
drac-comment = #6272a4
drac-cyan = #8be9fd
drac-green = #50fa7b
drac-orange = #ffb86c
drac-pink = #ff79c6
drac-purple = #bd93f9
drac-red = #ff5555
drac-yellow = #f1fa8c
// Dracula ANSI Colors
 drac-color0 = #21222c
 drac-color1 = #ff5555
 drac-color2 = #50fa7b
 drac-color3 = #f1fa8c
 drac-color4 = #f1fa8c
 drac-color5 = #ff79c6
 drac-color6 = #8be9fd
 drac-color7 = #f8f8f2
 drac-color8 = #6272a4
 drac-color9 = #ff6e6e
 drac-color10 = #69ff94
 drac-color11 = #ffffa5
 drac-color12 = #d6acff
 drac-color13 = #ff92df
 drac-color14 = #a4ffff
 drac-color15 = #ffffff
// Dracula Other Colors
 drac-line-highlight = #44475a75
 drac-non-text = #ffffff1a
 drac-white = #ffffff
 drac-tab-drop-background = #44475a70
 drac-background-lighter = #424450
 drac-background-alt = #343746
//test color
test-color = #FF0000 