/*:::::::::::::::::::::::::::::::::: Zotero :::::::::::::::::::::::::::::::::*/
@import "dracula_colors.styl";

// *
//   border: 0 !important

thin-border = 1px solid drac-color0
pink-border = 1px solid drac-pink

// if_testing = true
if_testing = false
important_ob = true
// important_ob = false

if if_testing
  .toolbar
    if important_ob
      -moz-appearance: none !important
      background: drac-purple !important
      color: drac-green !important
      border-color: drac-red !important
      outline-color: drac-yellow !important
      fill: drac-pink !important
      border: 2px solid drac-red !important
      outline: 4px solid drac-yellow !important
      // height: 22px !important
      label
        color: drac-orange !important
        background: drac-cyan !important
    else
      -moz-appearance: none
      background: drac-purple
      color: drac-green
      border: 2px solid drac-red
      label
        color: drac-orange
        background: drac-cyan

// This theme works best with the Dracula GTK drac-pink accent theme for now.

// Generic stuff that applies to multiple sections:

// Menus:
// Changes menu text color
menu
menuitem
  -moz-appearance: none
  color: drac-foreground
  padding: 5px 0px
  &[disabled="true"]
    color: drac-comment

// Changes hover color (except for checkboxes)
menu:hover
menu[open="true"]
menuitem:hover
menuitem[_moz-menuactive="true"]
  -moz-appearance: none
  padding: 5px 0px
  background: drac-selection
  
// Changes color of checkboxes to white
menuitem[type="checkbox"]
  & > .menu-iconic-text
    padding-left: 5px
  & > .menu-iconic-left
    -moz-appearance: checkbox
    padding: 7px 0px 0px 0px

menupopup
	-moz-appearance: none !important;
	padding: 8px 2px 8px 2px
	// background-color: #2B2B2B !important;
	// border: 1px #A0A0A0 solid !important;
	// min-width: 280px !important;

menuseparator
	-moz-appearance: none
	border: none
	padding: .5px 0px .5px 0px
	margin: 4px 8px

/*
Starting from the top of the window:
// Top part that says Zotero
I don't think you can actually get to this part
*/
// Bar with file edit view etc.
#navigator-toolbox
  -moz-appearance: none
  background: drac-background-darker // Changes color of whole bar
  menupopup
    -moz-appearance: none !important
    background: drac-background-darker
  menuseparator
    background: drac-background

// Style the main menu buttons
#main-menubar > menu
  -moz-appearance: none !important
  height:25px
  padding: 0px 10px

// Toolbars
// Change colors of tabs
.tabs
  background: drac-background

.tab
  color: drac-foreground !important
  background: drac-background-darker !important
  border-left: 0px solid drac-pink !important
  border-right: 1px solid drac-pink !important
  &:hover
    background: drac-selection !important
  &:not(:focus)
    -moz-appearance: none !important
  &.selected:not(.highlighted)
    background: drac-background-darker !important
    border-top: 3px solid drac-pink !important

.tab-close:hover
  background: drac-pink !important

.toolbar
  background: drac-background-darker !important

#zotero-tb-search
  -moz-appearance: none !important
  background-color: drac-background !important
  color: drac-foreground !important
  border: pink-border 


// Change colors of area underneath tabs
#zotero-pane
  background: drac-background-darker //!important
  color: drac-red //!important



// tag container
.tag-selector-list-container
.tag-selector-item
  background:drac-background !important
  
// Change color of tabs when you hover over them
.tag-selector-item:hover
  background: drac-purple !important
  border: 0 !important

// Change search bar
#zotero-tag-selector-container
  border-bottom: thin-border
  border-top: thin-border
  input
    -moz-appearance: none
    background: drac-background
    border: pink-border
    color: drac-foreground


// .row:hover
  // background: drac-current-line
//   color: drac-foreground
// 
// // Change these:
// 
// // .notes-list-container
// // .note-row
// // .note-row .date
// // .more-row
// // .note-row:hover,
// // .more-row:hover

// check viewer.css