/*:::::::::::::::::::::::::::::::::: Zotero :::::::::::::::::::::::::::::::::*/
.tab-line {
  -moz-appearance: checkbox !important;
  background: #bd93f9 !important;
  color: #50fa7b !important;
  border-color: #f55 !important;
  outline-color: #f1fa8c !important;
  fill: #ff79c6 !important;
  border: 2px solid #f55 !important;
  outline: 4px solid #f1fa8c !important;
}
.tab-line label {
  color: #ffb86c !important;
  background: #8be9fd !important;
}
.tab-line:hover {
  background: #8be9fd !important;
}
menu,
menuitem {
  -moz-appearance: none;
  color: #f8f8f2;
  padding: 5px 0px;
}
menu[disabled="true"],
menuitem[disabled="true"] {
  color: #6272a4;
}
menu:hover,
menu[open="true"],
menuitem:hover,
menuitem[_moz-menuactive="true"] {
  -moz-appearance: none;
  padding: 5px 0px;
  background: #44475a;
}
menuitem[type="checkbox"] > .menu-iconic-text {
  padding-left: 5px;
}
menuitem[type="checkbox"] > .menu-iconic-left {
  -moz-appearance: checkbox;
  padding: 7px 0px 0px 0px;
}
menupopup {
  -moz-appearance: none !important;
  padding: 8px 2px 8px 2px;
}
menuseparator {
  -moz-appearance: none;
  border: none;
  padding: 0.5px 0px 0.5px 0px;
  margin: 4px 8px;
}
/*
Starting from the top of the window:
// Top part that says Zotero
I don't think you can actually get to this part
*/
#navigator-toolbox {
  -moz-appearance: none;
  background: #1e1f29;
}
#navigator-toolbox menupopup {
  -moz-appearance: none !important;
  background: #1e1f29;
}
#navigator-toolbox menuseparator {
  background: #282a36;
}
#main-menubar > menu {
  -moz-appearance: none !important;
  height: 25px;
  padding: 0px 10px;
}
