/*:::::::::::::::::::::::::::::::::::::::::::::::::::: Zotero :::::::::::::::::::::::::::::::::::::::::::::::::::*/
*
  border: 0 !important

//test color
test-color = #FF0000 
  
/*change background color and text color of zotero toolbar and menubar*/
// #zotero-toolbar,
#navigator-toolbox,
#tab-bar-container
  background: test-color !important
  color: #FFFFFF !important