/*:::::::::::::::::::::::::::::::::: Zotero :::::::::::::::::::::::::::::::::*/
menu,
menuitem {
  -moz-appearance: none;
  color: #f8f8f2;
  padding: 5px 0px;
}
menu[disabled="true"],
menuitem[disabled="true"] {
  color: #6272a4;
}
menu:hover,
menu[open="true"],
menuitem:hover,
menuitem[_moz-menuactive="true"] {
  -moz-appearance: none;
  padding: 5px 0px;
  background: #44475a;
}
menuitem[type="checkbox"] > .menu-iconic-text {
  padding-left: 5px;
}
menuitem[type="checkbox"] > .menu-iconic-left {
  -moz-appearance: checkbox;
  padding: 7px 0px 0px 0px;
}
menupopup {
  -moz-appearance: none !important;
  padding: 8px 2px 8px 2px;
}
menuseparator {
  -moz-appearance: none;
  border: none;
  padding: 0.5px 0px 0.5px 0px;
  margin: 4px 8px;
}
/*
Starting from the top of the window:
// Top part that says Zotero
I don't think you can actually get to this part
*/
#navigator-toolbox {
  -moz-appearance: none;
  background: #1e1f29;
}
#navigator-toolbox menupopup {
  -moz-appearance: none !important;
  background: #1e1f29;
}
#navigator-toolbox menuseparator {
  background: #282a36;
}
#main-menubar > menu {
  -moz-appearance: none !important;
  height: 25px;
  padding: 0px 10px;
}
.tabs {
  background: #282a36;
}
.tab {
  color: #f8f8f2 !important;
  background: #1e1f29 !important;
  border-left: 0px solid #ff79c6 !important;
  border-right: 1px solid #ff79c6 !important;
}
.tab:hover {
  background: #44475a !important;
}
.tab:not(:focus) {
  -moz-appearance: none !important;
}
.tab.selected:not(.highlighted) {
  background: #1e1f29 !important;
  border-top: 3px solid #ff79c6 !important;
}
.tab-close:hover {
  background: #ff79c6 !important;
}
.toolbar {
  background: #1e1f29 !important;
}
#zotero-tb-search {
  -moz-appearance: none !important;
  background-color: #282a36 !important;
  color: #f8f8f2 !important;
  border: 1px solid #ff79c6;
}
#zotero-pane {
  background: #1e1f29;
  color: #f55;
}
.tag-selector-list-container,
.tag-selector-item {
  background: #282a36 !important;
}
.tag-selector-item:hover {
  background: #bd93f9 !important;
  border: 0 !important;
}
#zotero-tag-selector-container {
  border-bottom: 1px solid #21222c;
  border-top: 1px solid #21222c;
}
#zotero-tag-selector-container input {
  -moz-appearance: none;
  background: #282a36;
  border: 1px solid #ff79c6;
  color: #f8f8f2;
}
